body {
	background-color: black;
	color: white;
	text-align: center;
}

#replica {
	margin: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	flex-direction: column;
}

h1 {
	font-size: 45px;
	word-wrap: break-word;
	position: absolute;
}

strong {
	font-weight: 600;
}

#woman {
	font-family: sans-serif;
}

#man {
	font-family: serif;
	font-weight: 200;
}

#narrator {
	font-family: Courier;
	transition: 3s;
}

#continue {
	background-color: black;
	color: white;
	border: none;
	outline: none;
	font-size: 15px;
	padding: 5px;
	cursor: pointer;
	margin-top: 300px;
	transition: 1s;
}